.inputlogin-container{
    position: relative;
    margin-top: 20px;
    margin-inline: auto;
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100% - 64px);
}

.inputlogin-input {
    font-size: 16px;
    padding: 8px 0;
    padding-right: 30px; 
    color:  var(--primary);
    border: none;
    border-bottom: 2px solid var(--primary);
    transition: border-color 250ms;
    background-color: transparent;
    padding-left: 50px;
    width: calc(100% - 80px);
}
  
.inputlogin-input:focus {
  outline: none;
  border-bottom-color: var(--primary);
}

.inputlogin-input:focus::-webkit-input-placeholder {
  color: var(--primary) !important;
}

.inputlogin-input::placeholder {
  color: transparent;
}

.inputlogin-input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
  
.inputlogin-label {
  position: absolute;
  top: 8px;
  left: 0;
  color: var(--primary);
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  padding-left: 50px;
}

.inputlogin-input:focus + .inputlogin-label,
.inputlogin-input:not(:placeholder-shown) + .inputlogin-label {
  transform: translateY(-100%) scale(0.75);
  padding-left: 65px;
}

.inputlogin-icon{
  color: var(--primary);
  position: absolute;
  left: 12px;
  top: 50%;
  font-size: 22px;
  transform: translateY(-50%);
}

.inputlogin-clear {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  right: -9px; 
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: var(--primary);
  transition: color 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputlogin-clear:hover,
.inputlogin-clear:focus {
  color: var(--primary);
}

.inputlogin-input:placeholder-shown + .inputlogin-label + .inputlogin-clear {
  display: none;
}