.inputform-container{
    position: relative;
    max-width: 400px;
    margin-top: 10px;
}

.inputform-icon{
    color: var(--secondary);
    position: absolute;
    left: 12px;
    top: 50%;
    font-size: 22px;
    transform: translateY(-40%);
}

.inputform-input{
    width: calc(100% - 40px);
    border-radius: 15px;
    height: 40px;
    padding-left: 40px;
    color: var(--primary);
    box-shadow: 3px 2px 5px 0px var(--gray);
    border: 0;
}

.inputform-input:focus-visible{
    box-shadow: -3px 0px 5px 0px var(--gray);
    outline: none;
}

.inputform-input-error{
    border: 2px solid red;
    color: red;
    background-color: #f9f0f0;
}

.inputform-input-readonly{
    border: 2px solid #cecece;
    background-color: #ececec;
}

.inputform-clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: -6px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--secondary);
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
.inputform-input:placeholder-shown + .inputform-clear {
    display: none;
}