.button-form{
    height: 56px;
    padding: 12px;
    font-weight: 500;
    border-radius: 14px;
    font-size: 1.2rem;
    border: 0px;
    width: 100%;
    margin: 16px auto;
    color: white;
    background-color: var(--secondary);
}

.button-form:hover, .button-form:active{
    opacity: .8;
}


