.signupBoxContainer{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 100px;
}

.signupLblSubtitle{
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    color: var(--primary);
    margin-top: 10px;
}

.signupFrmMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}